body {
	background: #fff;
	-webkit-font-smoothing: antialiased;
}


.pshead { position: relative; width: 1050px; height: 105px; margin: 0 auto; background: #fff; }
.width1160 .pshead,
.width1160 .gnb,
.width1160 #container,
.width1160 .info-policy,
.width1160 .copyright { width: 1160px; }

.width1160 #container { margin: 20px auto 0; }

#container { width: 1050px; margin: 20px auto 0; }


.ps-logo { overflow: hidden; position: absolute; left: 10px; top: 35px; text-align: center; }
.ps-logo a { display: block; float: left; }


.width1160 .wrap-search { left: 384px; }
.width1160 .top-search { width: 454px; }
.width1160 .inner-search { width: 404px; }
.width1160 .in-keyword { width: 386px; }
.top-search { width: 404px; height: 44px; border: 1px solid #3C63D9; background: #4a57a8; }


.wrap-search { position: absolute; left: 322px; top: 39px; }
.inner-search { float: left; width: 354px; background: #fff; margin: 5px 0 0 5px; }
.in-keyword { width: 336px; height: 34px; padding: 0 9px; border: none; background: transparent; outline: none; color: #333; font-size: 14px; font-weight: bold; }
.btn-search { float: left; width: 45px; height: 44px; background-position: 0 -89px; }

.area-links { position: absolute; top: 9px; right: 0; }
.area-links ul { overflow: hidden; line-height: 19px; }
.area-links li { float: left; }
.area-links li:first-child::before { display: none; }
.area-links li::before { content: "|"; color: #ccc; font-size: 11px; line-height: 11px; padding: 0 3px 0 5px; }
.area-links a { font-size: 11px; color: #555; }

.blind { position: absolute; overflow: hidden; visibility: hidden; margin: -1px; width: 0px; height: 0px; top: -9999px; font-size: 0; }

.sp-img { background-image: url(https://nstatic.dcinside.com/dc/w/images/sp/sp_img.png?1110); background-repeat: no-repeat; }


.item a {
    text-decoration: none;
    color: inherit;
}


.board-list-body {
    border-bottom: 2px solid #3C63D9;
}

.board-list-wrap {
    padding: 50px;
}

.board-name {
    font-size: 30px;
    font-weight: 500;
}

.board-list-head,
.board-list-body .item{
    font-size: 0;
    padding: 10px 0;
}

.board-list-head:not(:last-child) {
    border-top: 2px solid #3C63D9;
    border-bottom: 1px solid #999;
}

.board-list-body .item {
    border-bottom: 1px solid #ccc;
}

.board-list-head > div,
.board-list-body .item > div {
    display: inline-block;
    font-size: 14px;
    text-align: center;
}

.board-list-head > div {
    font-weight: 600;
}

.board-list .title {
    width: 48%;
}

.board-list-body div.title {
    text-align: left;
}

.board-list-body .title a:hover {
    text-decoration: underline;
}

.board-list .writer {
    width: 17%;
}

.board-list .date {
    width: 15%;
}

.board-list .view-num {
    width: 10%;
}

.board-list .like-num {
    width: 10%;
}

.paging {
    margin-top: 30px;
    text-align: center;
}

.paging a {
    display: inline-block;
    vertical-align: middle;
}

.paging a.bt {
    width: 30px;
    height: 30px;
    background-color: #3C63D9; 
    background-image: url(../images/page_bt.png);
    background-repeat: no-repeat;
    border-radius: 100px;
    text-indent: -1000px;
    overflow: hidden;
}

.paging a.bt:hover {
    background-color: gray;
}
    
.paging a.first {
    background-position: 10px -40px;
}

.paging a.prev {
    background-position: 10px 10px;
    margin-right: 5px;
}

.paging a.next {
    background-position: -40px 10px;
    margin-left: 5px;
}

.paging a.last {
    background-position: -40px -40px;
}

.paging a.num {
    margin: 0 5px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.paging a.num.on {
    color: #3C63D9;
}

.paging a.num:hover {
    text-decoration: underline;
}

.board-name {
    text-align: center;
    margin-top: 20px;
}

.board-btns {
    margin-top: 15px;
    text-align: left;
}

.board-btns input[type='button'] {
    padding: 0.1em 1.0em;
    height: 40px;
    width: 90px;
    line-height: 33px;
    font-size: 15.5px;
    font-weight: bold;
}


.board-btns input:hover {
    display: inline-block;
    cursor: pointer;
}

.board-btns .all-board {
    border: 1px solid black;  
    background-color: #3C63D9;
    color: white;
}

.board-btns .interest-board {
    background: white;
    margin-left: 2%;
    margin-right: auto;
    border: 1px solid #3C63D9; 
    color: #3C63D9;
    border-bottom: 3px solid #3C63D9; 
}

.board-btns .write-board {
    border: 1px solid black;  
    background-color: #3C63D9;
    color: white;
}

.fr {float: right;}

.board-search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.board-search-form .select_area {
    display: block;
    width: 109px;
    height: 35px;
    padding-left: 8px;
    line-height: 30px;
    margin: 3px 0 0 3px;
    background-color: #3C63D9;
    font-size: 14px;
    color: #fff;
}

.board-search-form input[type='search'] {
    height: 35px;
    margin-left: 0.6em;
    border: 3px solid #3C63D9;
    font-size: 1rem;
    width: 300px;
}

.board-search-form input[type='submit'] {
    margin-left: 1px;
    border: 1px solid #3C63D9;
    background-color: #3C63D9;
    font-size: 14px;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
    color: white;
    height: 53px;
    height: 35px;
}

.board-search-form input[type='submit']:hover {
    cursor: pointer;
}


#footer { 
    border-top: 1px solid lightgray;
    order: 2;
    width: 100%;
}

.footer {padding: 25px 0; text-align: center;}
.footer ul {margin-bottom: 20px;}
.footer li {position: relative; display: inline; padding: 0 7px 0 10px;}
.footer li:before {content: ''; width: 1px; height:12px; background: #ccc; position: absolute;
left: 0; top: 2px;}
.footer li:first-child:before { width: 0; height: 0; }
